.container {
    background-color: #ffe600;
}
.text-center {
    text-align: center;
}
.border- {
    border: 2px solid #000 !important;
}
.padding {
    padding: 15px;
}
.mar-bot {
    margin-bottom: 15px;
}

.admit-card {
    border: 2px solid #000;
    padding: 15px;
    margin: 20px 0;
}
.BoxA h5, .BoxA p {
    margin: 0;
}
h5 {
    text-transform: uppercase;
}
table img {
    width: 60px;
    margin: 0 auto;
}
.table-bordered td, .table-bordered th, .table thead th {
    border: 2px solid #000000 !important;
}
.table td, .table th {
    padding: .25rem;
}

.btn543 {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .btn543:hover {
    background-color: RoyalBlue;
  }
  .ytyt {
    display: block !important;
  }